.container {
  padding: 1rem;
  margin: 20px auto;
  font-family: sans-serif;
}

.actions > div:first-child {
  width: 100%;
}
.search {
  margin: 0 !important;
  width: 40%;
  padding: 0.8rem 1rem;
  margin-bottom: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--light-text-color);
}
.tableContainer {
  overflow-x: auto;
  width: 100%;
  border-radius: 4px;
  margin: 10px 0;
  text-align: -webkit-center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

.table th {
  background-color: #f5f5f5;
  color: #000;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.pagination button:enabled {
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border: none;
}
.pagination button:disabled {
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: not-allowed;
  transition: all 0.2s;
  background-color: var(--bg-secondary-color);
  border: none;
}
@media (prefers-color-scheme: dark) {
  .pagination button:disabled {
    color: #aeaeae;
  }
}

.exportButtons button {
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--light-text-color);
  border: none;
  color: black;
}

.exportButtons {
  display: flex;
  gap: 10px;
}
 
.action {
  display: flex;
  justify-content: center;   
  gap: 10px;
  align-items: center;
}
.action button {
  cursor: pointer;
}


.skeletonRow {
  background-color: #f0f0f0;
  height: 30px;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

@media screen and (max-width: 480px) {
  .search {
    width: 100%;
  }
  .table {
    width: max-content;
  }
}
