.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

.fileInput {
  display: none;
}
/* BUTTON AT TOP RIGHT */
.btnWrapper {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* PAGE TITLE */
.pageTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text, #111);
  margin: 0 auto;
}

/* LOADING */
.loader {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: #555;
  padding: 3rem 0;
}

/* ERROR MESSAGE */
.error {
  color: #dc2626;
  text-align: center;
  font-size: 1.2rem;
}
/* MOBILE */
@media (max-width: 40rem) {
  .container {
    padding: 1.2rem;
  }

  .btnWrapper {
    position: static;
    justify-content: flex-end;
  }

 
  .pageTitle {
    font-size: 1.6rem;
  }
}






.iconBtn {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.18s ease;
}



/* Edit */
.edit {
  color: #2563eb;
}
.edit:hover {
  background: #dbeafe;
}

/* Delete */
.delete {
  color: #dc2626;
}
.delete:hover {
  background: #fee2e2;
}

.tableBox {
  padding: 1rem;
  box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}
.tableBox table tbody tr:hover {
  background: #f1f5f9;
  transition: background 0.15s ease;
}