.editorContainer {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

/* Title Input */
.titleInput {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

/* Quill Content Editor */
.quillEditor {
  height: 22rem;
  margin-bottom: 3.5rem;
}

/* Variable chips */
.variablesList {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  /* border: 2px solid #374151; */
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}



.variableTag {
  background: var(--color-bg);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 0.9rem;
  border: 0.1rem solid #4b5563;
}

.variableTag:hover {
  background: #374151;
}

/* Buttons Row */
.buttonRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

/* Left side (Save) */
.leftAction {
  display: flex;
  width: 50%;
}

/* Right side (Exports) */
.rightActions {
  display: flex;
  gap: 1rem;
  width: 35%;
}

/* Responsive */
@media (max-width: 48rem) {
  .editorContainer {
    padding: 1rem;
  }

  .buttonRow {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  .rightActions {
    justify-content: space-between;
  }
}
