/* .container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.stepperHeader {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.step, .activeStep {
  padding: 10px 20px;
  border-radius: 20px;
  background: #f0f0f0;
  color: #666;
  font-weight: bold;
}

.activeStep {
  background: #007bff;
  color: white;
}

.line {
  flex: 0.1;
  height: 2px;
  background: #ddd;
  margin: 0 10px;
}

.formBody {
  max-width: 600px;
  margin: 0 auto;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.row {
    display: flex;
    align-items: flex-end;
    gap: 10px;
} */

.buttonGroup{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 1.5rem;
}